@import "tailwindcss";
@import "tw-animate-css";
@import "./smoothui.css";

@theme inline {
  --font-body: var(--font-inter);
  --font-title: var(--font-asap);
  --shiki-theme: var(--shiki--light);
  --shiki--light: var(--shiki-theme,);
  --shiki--dark: var(--shiki-theme,);
  --shadow-custom: var(--shadow-custom);
  --shadow-custom-brand: var(--shadow-custom-brand);
}

:root {
  --color-bt-gray: var(--bt-gray);
  --color-contrast-higher: #fff;
  --color-contrast-highest: #fff;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --bt-gray: #e5e7eb;
  --shadow-custom-brand:
    0px 1px 2px rgba(0, 0, 0, 0.4),
    0px 0px 0px 1px var(--color-brand-secondary),
    inset 0px 0.75px 0px rgba(255, 255, 255, 0.2);
  --shadow-custom:
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 2px -1px rgba(0, 0, 0, 0.08),
    0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --lines-page: url("/lines-b.png");
}

.dark {
  --bt-gray: black;
  --shadow-custom:
    0px -1px 0px 0px hsla(0, 0%, 100%, 0.06),
    0px 0px 0px 1px hsla(0, 0%, 100%, 0.06), 0px 0px 0px 1px #27272a,
    0px 1px 2px 0px rgba(0, 0, 0, 0.32), 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
  --lines-page: url("/lines-w.png");
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .dark {
    --shiki-theme: var(--shiki--dark);
    --shiki--light: var(--shiki-theme,);
    --shiki--dark: var(--shiki-theme,);
  }
  [data-theme="dark"] {
    --shiki-theme: var(--shiki--dark);
  }
  [data-theme="light"] {
    --shiki-theme: var(--shiki--light);
  }
}

::selection {
  @apply bg-brand-secondary/20 text-brand;
}

.shiki {
  background-color: transparent !important;
  font-size: 14px;
  & span {
    color: var(--shiki--light, var(--_s-light))
      var(--shiki--dark, var(--_s-dark));
  }
}

.gradient-brand {
  @apply from-brand-secondary to-brand bg-gradient-to-bl;
}
.hover\:gradient-brand:hover {
  @apply from-brand-secondary to-brand bg-gradient-to-bl;
}

.shadow-custom-btgray {
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.4),
    0px 0px 0px 1px var(--color-bt-gray),
    inset 0px 0.75px 0px rgba(255, 255, 255, 0.2);
}

.blur-magic {
  --blur: 1px;
  --stop: 25%;
  --height: 150px;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: var(--height);
  user-select: none;
  -webkit-user-select: none;
  left: 0;
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
}

.blur-magic[data-side="top"] {
  top: 0;
  background: linear-gradient(to top, transparent, transparent);
  mask-image: linear-gradient(
    to bottom,
    var(--color-primary) var(--stop),
    transparent
  );
}

.blur-magic[data-side="left"] {
  height: 100%;
  width: var(--height);
  left: 0;
  background: linear-gradient(to left, transparent, var(--color-primary));
  mask-image: linear-gradient(
    to right,
    var(--color-primary) var(--stop),
    transparent
  );
}

.blur-magic[data-side="right"] {
  height: 100%;
  width: var(--height);
  right: 0;
  left: unset;
  background: linear-gradient(to right, transparent, var(--color-primary));
  mask-image: linear-gradient(
    to left,
    var(--color-primary) var(--stop),
    transparent
  );
}
.blur-magic[data-side="bottom"] {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--color-primary));
  mask-image: linear-gradient(
    to top,
    var(--color-primary) var(--stop),
    transparent
  );
}
.bg-lines-page {
  background-image: var(--lines-page);
  background-repeat: repeat;
}
/* .bg-hero {
  background-image: radial-gradient(
    140% 107.13% at 50% 10%,
    transparent 37.41%,
    var(--color-brand) 69.27%,
    #fff 100%
  );
}

.bg-hero-rotated {
  background-image: radial-gradient(
    140% 107.13% at 50% 90%,
    transparent 37.41%,
    var(--color-brand) 100%
  );
  opacity: 1;
} */
